@use "tailwindcss";
@plugin "daisyui";

input,
textarea {
    @apply max-sm:text-[18px];
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation-name: rot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
